.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(210, 207, 203);
    overflow-x: hidden;
}

.mainContent {
    padding-top: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
